body{
    margin: 150px;
    padding: 0;
    background: lightblue;
}

.header{
    color: black;
    font-family: Arial, serif;
    align-content: center;
    align-items: center;
}

.link_style {
    padding: 15px 30px;
    background-color: #f20044;
    border-radius: 25px;
    font-family: Arial, serif;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
}

.link_style:hover {
    background-color: #0b1522;
    color: whitesmoke;
}

input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 3px solid grey;
    border-radius: 5px;
    font-size: 18px;
    background-color: white;
    transition: width 0.4s ease-in-out;
}

input[type=submit] {
    box-sizing: border-box;
    border: 3px solid grey;
    border-radius: 5px;
    font-size: 18px;
    background-color: white;
}

input:focus {
    width: 25%;
}

input:hover {
    border-color: royalblue;
}